html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #050505;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 12pt;
    font-weight: 200;
    color: #FFF;
}
@media only screen and (hover: none) and (pointer: coarse){
    body {
        font-size: 2rem;
    }
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p, ol, ul {
    margin-top: 0;
}

ol, ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}
