<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      Explorations of model parameters to provide humans an understanding of decisions made
      </p>
    </div>

    <ul class="sidebar-nav">
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    <p>&copy; <a href="{{.Site.Params.copyright_link}}">{{ with .Site.Params.copyright }}{{.}}</a> 2017. All rights reserved. {{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</div>
