
.button {
    display: inline-block;
    letter-spacing: 0.10em;
    padding: 1.40em 3em;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    width: 30%;
    min-width: fit-content;
    font-family: 'Didact Gothic', sans-serif;
    background: #FFF;
    color: #2651a8;
}

.contactBox {
    width: fit-content;
    text-align: center;
    margin: auto;
    background: #FFF;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: #2651a8;
}

.ulActions {
    padding: 0;
    margin-top: 3em;
}
.ulActionsLi {
    padding: 0.5em 1.5em;
}
.ulActionsLiUserInput {
    font-size: 12pt;
    height: 2em;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
}
.ulActionsLiInput {
    composes: ulActionsLiUserInput;
    height: 2em;
}
.ulActionsTextarea {
    composes: ulActionsLiUserInput;
    height: 6em;
}
@media only screen and (hover: none) and (pointer: coarse) {
    .ulActionsLiInput {
        font-size: 2rem;
        border-width: medium;
    }
    .ulActionsTextarea {
        font-size: 2rem;
        border-width: medium;
    }
}